
img {
  width: 55%;
  display: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
	background-color: #04285C;
}

div.source {
	text-align: center;
	font-size: smaller;
}

.intro {
	background: #FFE100;
	padding-bottom: 20px;
	padding-top: 10px;
	font-size: 115%;
}

.support {
	background: white;
	padding-bottom: 25px;
}

.end {
	
	}

h3, h2, h1 {
	color: #04285C;
	size: 115%;
}

.YAL {
	color: #FFE100;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

img.constitution {
padding-top: 25px;
}

p.space {
	padding-top: 10px;
}