

body {
	background-color: #04285C;
}

div.source {
	text-align: center;
	font-size: smaller;
}

.intro {
	background: #FFE100;
	padding-bottom: 25px;
}


.end {
	
	}

h3, h2 {
	color: #04285C;
}

.YAL {
	color: #FFE100;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}

.join {
	background: white;
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 115%;
}